*.o
*.s
*.a
*.la

*.out
*.edict
*.idx
*.dump

tests/hash
tests/parser
tests/build
tests/verify
tests/query

TAGS
tags

Doxyfile
html
latex

.deps
.dirstamp

Makefile
Makefile.in

configure
aclocal.m4
autom4te.cache
build-aux
config.*
stamp-h1

*.tar.gz
